@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	line-height: 1.5;
	font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4 {
	line-height: 1.25;
}

html {
	background-color: theme("colors.gray-900");
}


